[submodule "build/my_npn_synthesis/build_cmake/_deps/bill-src"]
    path = build/my_npn_synthesis/build_cmake/_deps/bill-src
    url = https://github.com/lsils/bill.git

[submodule "build/my_npn_synthesis/build_cmake/_deps/kitty-src"]
    path = build/my_npn_synthesis/build_cmake/_deps/kitty-src
    url = https://github.com/msoeken/kitty.git
