[submodule "build/my_npn_synthesis/build_cmake/_deps/bill-src"]
    path = build/my_npn_synthesis/build_cmake/_deps/bill-src
    url = https://github.com/lsils/bill.git

[submodule "build/my_npn_synthesis/build_cmake/_deps/kitty-src"]
    path = build/my_npn_synthesis/build_cmake/_deps/kitty-src
    url = https://github.com/msoeken/kitty.git

[submodule "build/my_npn_synthesis/build_cmake/_deps/percy-src"]
    path = build/my_npn_synthesis/build_cmake/_deps/percy-src
    url = https://github.com/lsils/percy.git

[submodule "build/my_npn_synthesis/build_cmake/_deps/phmap-src"]
    path = build/my_npn_synthesis/build_cmake/_deps/phmap-src
    url = https://github.com/greg7mdp/parallel-hashmap.git

[submodule "build/my_npn_synthesis/build_cmake/_deps/lorina-src"]
    path = build/my_npn_synthesis/build_cmake/_deps/lorina-src
    url = https://github.com/hriener/lorina.git

[submodule "build/my_npn_synthesis/build_cmake/_deps/catch2-src"]
    path = build/my_npn_synthesis/build_cmake/_deps/catch2-src
    url = https://github.com/catchorg/Catch2.git
